* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0.5)), url("https://lh3.googleusercontent.com/DG38amCKGWPQodw4fRnE4Fz6W-nN6mBs5MBEh7hPOkOc7k4Q3W0ePGHLRYsUI-XgzndudzQogOEVJy5DndP-h5nW_kCmI9ikhhoCLMKNH4D6pOKvOgjObxn6ACEpBNhM1kZhV72n9Q=w2400");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  margin-bottom: 74px;
}

#title, #description {
  text-align: center;
}

#title {
  font-family: 'Alegreya Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #333333;
  padding-top: 82px;
}

p, #survey-form {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
}

#survey-form input::placeholder, #survey-form textarea::placeholder, input[type="submit"], select {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 163.68%;
  color: rgba(0, 0, 0, 0.5);
}

#survey-form {
  width: 50%;
  max-width: 786px;
  margin: 0 auto;
  background: rgba(189, 189, 189, 0.85);
  border-radius: 5px;
  padding: 78px;
  margin-top: 102px;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
  width: 100%;
  padding: 14px 16px 10px 16px;
  border-radius: 5px;
  background: #FFFFFF;
}

select {
  width: 100%;
  padding: 6px 16px;
  border-radius: 5px;
  background: #FFFFFF;
}

textarea {
  height: 133px;
  resize: none;
}

input[type="submit"] {
  width: 45%;
  height: 63px;
  background: #333333;
  border-radius: 5px;
  margin: 0 auto;
  color: #F2F2F2;
  position: center;
  display: block;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    --active: #828282;
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0px 4px;
    background: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;
  }
  input[type="radio"]::after {
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background: var(--b);
  }
  input[type="radio"]:checked {
    --b: var(--active);
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    --active: #828282;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background: #F2F2F2;
    border-radius: 2px;
    cursor: pointer;
    margin: 0px 4px;
  }
  input[type="checkbox"]:after {
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 2px;
    background: var(--b);
  }
  input[type="checkbox"]:checked {
    --b: var(--active);
  }
}

input[type="submit"] {
  cursor: pointer;
}