* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0.5)), url("https://lh3.googleusercontent.com/DG38amCKGWPQodw4fRnE4Fz6W-nN6mBs5MBEh7hPOkOc7k4Q3W0ePGHLRYsUI-XgzndudzQogOEVJy5DndP-h5nW_kCmI9ikhhoCLMKNH4D6pOKvOgjObxn6ACEpBNhM1kZhV72n9Q=w2400");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 100%;
}

#main {
  margin: 56px 0;
}
@media (min-width: 576px) { #main { margin: 64px; }}
@media (min-width: 768px) { #main { margin: 72px; }}


#title, #description {
  text-align: center;
}

#title {
  font-family: 'Alegreya Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}
@media (min-width: 576px) { #title { font-size: 34px; }}
@media (min-width: 768px) { #title { font-size: 44px; }}

p, #survey-form {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}
@media (min-width: 576px) { p, #survey-form { font-size: 16px; }}
@media (min-width: 768px) { p, #survey-form { font-size: 18px; }}

#survey-form input::placeholder,
#survey-form textarea::placeholder,
input[type="submit"], select {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  #survey-form input::placeholder,
  #survey-form textarea::placeholder,
  input[type="submit"], select {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  #survey-form input::placeholder,
  #survey-form textarea::placeholder,
  input[type="submit"], select {
    font-size: 14px;
  }
}

#survey-form {
  max-width: 320px;
  margin: 0 auto;
  background: rgba(189, 189, 189, 0.8);
  border-radius: 5px;
  padding: 36px 24px;
  margin-top: 56px;
}
@media (min-width: 576px) {
  #survey-form {
    max-width: 540px;
    padding: 56px; 
    margin-top: 64px;
  }
}
@media (min-width: 768px) {
  #survey-form {
    max-width: 720px;
    padding: 76px; 
    margin-top: 72px;
  }
}

input[type="text"], input[type="email"], input[type="number"], textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background: #FFFFFF;
}

select {
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  background: #FFFFFF;
}

textarea {
  height: 80px;
  resize: none;
}
@media (min-width: 576px) { textarea { height: 120px; }}
@media (min-width: 768px) { textarea { height: 160px; }}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    --active: #828282;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 4px 4px;
    background: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;
  }
  input[type="radio"]::after {
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: var(--b);
  }
  input[type="radio"]:checked {
    --b: var(--active);
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    --active: #828282;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    background: #F2F2F2;
    border-radius: 2px;
    margin: 4px 4px;
    cursor: pointer;
  }
  input[type="checkbox"]:after {
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 2px;
    background: var(--b);
  }
  input[type="checkbox"]:checked {
    --b: var(--active);
  }
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  top: -5px;
}
@media (min-width: 576px) { 
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    top: -4px;
}
}

input[type="submit"] {
  display: block;
  width: 240px;
  height: 48px;
  background: #333333;
  border-radius: 5px;
  margin: 0 auto;
  color: #F2F2F2;
  cursor: pointer;
}
